body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flexbox;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  background-color: #EFF1F2;
}

h1{
  font-family: 'Roboto', sans-serif;
}

.homepage-header{
  display: grid;
}

.top-bar{
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.search-bar-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-start: 1;
}

.notification-bell-and-username-container{
  grid-column-start: 2;
  display: grid;
  grid-template-columns: auto auto;
}

.notification-bell{
  display: grid;
  grid-column-start: 1;
}

.username-and-login{
  display: grid;
  grid-column-start: 2;
  grid-template-columns: auto auto;
}

.userName{
  grid-column-start: 1;
}

.avatar-logo{
  grid-column-start: 2;
}

.header-text-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2268DC;
  
  
}

.header-text{
  color:white;
  background-color: #2268DC;
  grid-column-start: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
  margin: auto;
}

.header-menu-button{
  grid-column-start: 2;
  height: fit-content;
  width: fit-content;
  background-color: #2268DC;
  color: white;
  align-self: center;
  justify-self: right;
  font-size:xx-large;
  margin-right: 2px;
}

.toolbar-container{
  display: flex;
  flex-direction: row;
  background-color: white;
}
.topic-buttons-container{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 6px 4px 0px 4px;
}
.toolbar-topic-button{
  color: #2268DC;
  background-color: #D3D3D3;
  font-size: 24px;
  border-radius: 10px;
  padding: 3px 10px;
  margin-left: 5px;
  margin-right: auto;
  margin-bottom: 12px;
  border: hidden;
}

.filter-button-container{
  display: flex;
  flex-direction: row;
  border-left: solid;
  border-color: #2268DC;
  border-width: 2px;
  grid-row-start: 2;
}

.toolbar-filter-button{
  color: #2268DC;
  background-color: #D3D3D3;
  font-size: 24px;
  border-radius: 10px;
  padding: 3px 10px;
  margin-left: 5px;
  margin: 4px 4px 4px 5px;
  border: hidden;
}



.article-list-display-container{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.article-list-container{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px 0px 0px 0px;
}

.article-preview-card{
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  background-color: white;
  margin: 0px 0px 8px 0px;
  border: #D3D3D3;
  border-width: 1px;
  border-style: solid;
  box-shadow:0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
  text-decoration: none;

}

.article-preview-card .article-heading{
  font-size: 18px;
  color: #2268DC;
  grid-row-start: 1;
  text-decoration:none !important;
}

.article-preview-card .article-body{
  font-size: 16px;
  color: #6D6C6C;
  grid-row-start: 2;
}

.article-preview-buttons-container{
  display: grid;
  font-size: 36;
  grid-row-start: 3;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
}

.article-preview-buttons-container .votes-container{
  font-size: 36;
  grid-column-start: 1;
}

.article-preview-buttons-container .comments-container{
  font-size: 36;
  grid-column-start: 2;
}

.article-preview-buttons-container .bookmark-container{
  font-size: 36;
  grid-column-start: 3;
}


.view-more-articles-container{
  grid-row-start: 2;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.view-more-articles-container button{
  align-self: center;
  justify-self: center;
  padding: auto;
  margin: auto;
  height: 48px;
  width: 338px;
  border-radius: 6px;
  border: none;
  background-color: #2268DC;
  color: white;
  font-size: 24px;
}

.article-card{
  padding-top: 5px;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  background-color: white;
  margin: 5px 0px 8px 0px;
  border: #D3D3D3;
  border-width: 1px;
  border-style: solid;
  box-shadow:0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
}

.article-heading{
  font-size: 28pt;
  grid-row-start: 1;
  margin-left: 2px;
}

.article-info-container{
  grid-row-start: 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.article-bookmark-button-container{
  display: grid;
  /* align-self:flex-end; */
  justify-content: right;
}

.article-bookmark-button{
  align-self:flex-end;
  margin-bottom: 18px;
  border-radius: 6px;
  background-color: white;
  color: #2268DC;
  border-style: solid;
  border-width: 2px;
  border-color: #2268DC;
  padding: 5px 5px;
}

.article-author-date-container{
  color: #6D6C6C;
  line-height: 0.4;
  margin-left: 5px;
}

.full-article-body{
  text-align: justify;
  margin: 10px 10px 20px 10px;
}

.article-vote-or-comment-container{
  display: grid;
  grid-template-columns: auto auto;
}

.voting-buttons-container{
  display: grid;
  grid-template-columns: auto auto auto;
  height: auto;
  width: auto;
  border-radius: 6px;
  background-color: white;
  color: #2268DC;
  border-style: solid;
  border-width: 2px;
  border-color: #2268DC;
  margin: 0px 20px;
  padding: 5px;
}

.up-vote-button{
  grid-column-start: 1;
  align-self: center;
  justify-self: left;
  color: white;
  background-color: #00A400;
  border: none;
  border-radius: 3pt;
  font-size: 14pt;
}

.votes-value{
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 10pt;

}

.down-vote-button{
  grid-column-start: 3;
  align-self: center;
  justify-self: right;
  color: white;
  background-color: #BE4B49;
  border: none;
  border-radius: 3pt;
  font-size: 14pt;
}

.view-comments-button-container{
  align-self: center;
  /* justify-self: center; */
}

.view-comments-button{
  font-size: 14pt;
  align-self: center;
  border-radius: 6px;
  background-color: white;
  color: #2268DC;
  border-style: solid;
  border-width: 2px;
  border-color: #2268DC;
  padding: 5px 5px;
}

.next-article-button-container{
  display: grid;
  grid-row-start: 2;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  margin: 10px auto;
}

.next-article-button{
  align-self: center;
  justify-self: center;
  padding: auto;
  margin: auto;
  height: 48px;
  width: 338px;
  border-radius: 6px;
  background-color: white;
  color: #2268DC;
  border-style: solid;
  border-width: 2px;
  border-color: #2268DC;
  font-size: 24px;
}